@media only screen and (max-width : 431px) {

  header{
    width: 100%;
    height: auto;
    background-color: var(--color1);
  }
  .header-container {
    width: 95%;
    height: auto;
  }

  .logo a {
    font-size: 35px;
  }

  nav {
    display: none;
  }

  .list
   {
    display: block;
    font-size: 24px;
  }


  #hero-section {
    width: 100%;
    height: auto;
    background-color: var(--color1);
  }
  .hero-container {
    width: 95%;
    height: auto;

  }
  .hero-box {
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .hero-content {
    width: 100%;
    height: auto;
  
}

  .hero-content h1 {
    font-size: 34px;
  }

  .hero-content p {
    font-size: 17px;
    padding-bottom: 15px;
  }

  .hero-image {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  .hero-image img {
  width: 90%;
  height: auto;
}


  .hero-content {
    order: 1;
  }

  .hero-image {
    order: 2;
  }
  #clint-info{
    width: 100%;
    height: auto;
    background-color: var(--color5);
  }

  .clint-container{
    width: 97%;
    height: auto;
  }

  .about-container {
    width: 90%;
    grid-template-columns: 1fr;
    /* gap: 30px; */
  }

  .about-content2 p{
    padding: 0 15px;
  }

  .about-content2 button{
    margin-left: 15px;
  }

  .section-info h2 {
    font-size: 25px;
    padding: 0;
  }

  .why-us-container {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .why-us-content1 h2 {
    font-size: 25px;
    margin-top: 25px;
  }

  .why-us-content1 nav {
    margin-top: 49px;
  }

  .why-us-content1 nav ul li {
    font-size: 16px;
  }

  .why-us-content1 {
    order: 2;
  }

  .why-us-content2 {
    order: 1;
  }

  .skill-container {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .skill-content h2 {
    font-size: 22px;
    padding: 22px 0;
  }

  .skill-content p {
    padding: 0 25px;
  }

  .skill-content nav ul li {
    font-size: 14px;
  }

  .skill-content {
    order: 1;
  }

  .silll-img {
    order: 2;
  }

  .silll-img img {
    background-color: var(--color5);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  }

  .section-info{
    width: 97%;
    height: auto;
  }
  #services{
    width: 100%;
    height: auto;
    
  }

  .service-container {
    width: 90%;
    grid-template-columns: 1fr;
  }
  
  #work-process{
    width: 100%;
    height: auto;
    
  }

  .process-container {
    width: 90%;
    margin: auto;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }
  .process-box{
    width: 100%;
    height: auto;
  }

  .cta-container {
    width: 90%;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .team-container {
    width: 90%;
    grid-template-columns: 1fr;
  }
  .team-box{
    width: 100%;
    height: auto;
  }

  .team-image {
    width: 160px;
    height: 110px;
    gap: 40px;
  }

  .team-image img {
    width: 180px;
    height: 180px;
  }

  .team-box {
    flex-direction: column;
    gap: 80px;
  }

  .team-content {
    text-align: center;
    padding: 10px 0;
  }

  .team-content .line {
    margin: auto;
  }

  .price-container {
    width: 90%;
    grid-template-columns: 1fr;
  }
  .price-box {
    width: 100%;
    height: auto;
  }

  .questions-container {
    width: 90%;
    height: auto;
  }
  .questions-content{
  padding: 15px;
}
  .questions-content p {
    font-size: 18px;
  }

  .Subscribe-container {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .Subscribe-content h3{
    font-size: 28px;
  }
  .Subscribe-image{
    width: 70%;
    margin: auto;
  }
  .Subscribe-image img {
  width: 100%;
  height: 100%;
}

  .Subscribe-image {
    order: 1;
  }

  .Subscribe-content {
    order: 2;
  }

  .process-content {
    padding-top: 25px;
  }
  .blog-box{
    width: 100%;
    height: auto;
  }

  .msg {
    width: 90%;
  }

  .msg button {
    width: 70px;
  }

  #contact {
    width: 90%;
    margin: auto;
  }

  .contact-container {
    width: 100%;
    grid-template-columns: auto;
    justify-content: center;
  }

  .contact-details {
    width: 100%;
    grid-template-columns: auto;
    justify-content: space-between;
    justify-items: stretch;
  }

  .contact-form {
    width: 100%;
    justify-content: space-between;
    justify-items: stretch;
  }

  .contact-form {
    order: 1;
  }

  .contact-details {
    order: 2;
  }

  textarea {
    width: 95%;
  }

  .join-container {
    width: 90%;
  }

  .test-container {
    width: 90%;
  }
}

footer{
  display: none;
}